<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Region</title>
    </head>

    <body>

        <div class="container my-4">
            <h2>Region</h2>
            <hr>            
            <div class="d-flex justify-content-between align-items-center">
                <h3>List of Region</h3>
                <a th:href="@{/region/create}" class="btn btn-success">Add Data</a>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col-2">Id</th>
                    <th scope="col-2">Name</th>
                    <th scope="col-2">Region date</th>
                    <th scope="col-6">Action</th>
                  </tr>
                </thead>
                <tbody th:each="region, itrStat : ${regions}">
                    <tr>
                        <td th:text="${itrStat.index + 1}">id</td>
                        <td th:text="${region.name}">name</td>
                        <td th:text="${region.region_date}"></td>
                        <td class="d-flex gap-3">
                            <a th:href="@{/region/update/{id} (id=${region.id})}" class="btn btn-warning">Edit</a>
                            <form th:action="@{/region/{id} (id=${region.id})}" th:method="DELETE">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure want to delete this?')">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    </body>
